numpy~=2.2.6
aiohttp~=3.13.2
aiortc~=1.14.0
pillow~=12.0.0
torch~=2.7.0+cu126
modelscope~=1.32.0
future~=1.0.0
websocket-client~=1.8.0
requests~=2.32.3
pillow-heif~=1.1.1
gradio~=4.29.0
einops~=0.8.1
tqdm~=4.67.1
addict~=2.4.0
omegaconf~=2.3.0
xformers~=0.0.30
torchvision~=0.22.0+cu126
moviepy~=1.0.3
trimesh~=4.10.0
pycolmap~=3.13.0
imageio~=2.37.0
matplotlib~=3.9.2
evo~=1.34.0
e3nn~=0.5.8
plyfile~=1.1.3
scipy~=1.13.0
huggingface-hub~=1.1.5
typer~=0.15.1
uvicorn~=0.34.0
fastapi~=0.115.8
pydantic~=2.10.6
translators~=6.0.1
ultralytics~=8.3.71